*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f7f4f4;
}

ul,
ol {
  li {
    list-style: none;
  }
}

.app-header {
  position: fixed;
  top: 0;
  width: 100%;

  & > nav {
    height: 60px;
    background-color: #824396;
    color: #f9f9f9;
  }

  & .nav-wrapper h1 {
    padding: 15px;
    float: left;
  }

  & .nav-items {
    float: left;
    height: 60px;

    & > li {
      float: left;
      display: block;
      text-align: center;
      text-decoration: none;
      font-size: 1rem;

      & a {
        color: #f2f2f2 !important;
        font-weight: 600;
        text-decoration: none;
        padding: 20px;
        height: 60px;
        display: flex;

        &.active {
          background-color: #b55ecf;
        }
      }
    }
  }
}

.app-container {
  margin-top: 60px;
  padding: 15px;
  height: calc(100vh - 60px);
  width: 100%;
}

.app-form {
  fieldset {
    border: 1px solid #dadade;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #f0f0f0;
    margin-top: 10px;
  }

  input {
    padding: 5px;
    font-size: 1rem;
    width: 100%;
    border: 1px solid #a9a9a9;
    border-radius: 2px;
    margin-bottom: 10px;

    &:focus {
      outline: 1px solid #4bb1bb;
      outline-style: revert;
    }
  }

  .action-control {
    float: right;
  }

  button {
    width: 100px;
    padding: 7px;
    margin: 2px 5px;
    font-size: 1em;

    &:focus {
      outline: 1px solid #4bb1bb;
      outline-style: revert;
    }

    &.app-btn-cancel {
      background-color: inherit;
      border: none;
      text-transform: uppercase;
      color: #de3d3d;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        color: darken(#de3d3d, 10%);
      }
    }

    &.app-btn-primary {
      background-color: #597de4;
      border: none;
      text-transform: uppercase;
      color: #eafffa;
      font-weight: 600;
      border-radius: 4px;

      &:hover {
        background-color: darken(#597de4, 10%);
      }
    }
  }
}

.app-card {
  border: 1px solid #dedede;
  padding: 10px;
  border-radius: 5px;
  background-color: #f0f0f0;

  &:hover {
    background-color: darken(#f0f0f0, 10%);
    cursor: pointer;
  }
}

.mb--10 {
  margin-bottom: 10px;
}
.mt--20 {
  margin-top: 20px;
}

.app-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
  padding: 15px 0;
}
