spring:
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/dev
    username: dev
    password: password
  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true
  hibernate:
    ddl-auto: update

debug: true
logging:
  level:
    org:
      springframework:
        boot:
          autoconfigure:
            logging: info

queue:
  exchange-name: member-process-exchange
  shortener-routing-key: member.website.shortener
  scrapping-routing-key: member.website.scrapping